---
import { getModerationPosts, getPublicPosts } from "@andrioid/atproto";

import Layout from "~astro/layout.astro";
import { BskyPostList } from "~react/bluesky/post-list";
const { at } = Astro.locals;
const posts = await getModerationPosts(at);
const pmap = posts.map((p) => p.postId);
const bmap = await getPublicPosts(pmap);
---

<Layout>
  <div class="md:p-14 flex flex-col gap-4">
    <h1 class="text-3xl font-semibold">Untagged recent</h1>
    <BskyPostList client:only="react" posts={bmap} mayClassify={true}>
      <div slot="fallback">Loading</div>
    </BskyPostList>
  </div>
</Layout>
