---
import { DEFAULT_FEED_ACTOR, feeds, getPublicPosts } from "@andrioid/atproto";
import Layout from "~astro/layout.astro";
import { BskyPostList } from "~react/bluesky/post-list";

const { rkey } = Astro.params;
const feed = feeds.find((f) => f.rkey === rkey);
if (!feed) {
  console.log("404");
  return Astro.redirect("/404");
}
const postUris = await feed.handler({
  ctx: Astro.locals.at,
  actorDid: DEFAULT_FEED_ACTOR,
});
const posts = await getPublicPosts(postUris);
const mayClassify = Astro.locals.mayClassify;
---

<Layout>
  <div class="p-14 flex flex-col gap-4">
    <h1 class="text-3xl font-semibold">{feed.record.displayName}</h1>
    {
      feed.record.description && (
        <p class="text-gray-600">{feed.record.description}</p>
      )
    }
    <div class="max-w-2xl flex flex-col gap-4">
      <BskyPostList
        client:only="react"
        posts={posts}
        mayClassify={mayClassify}
      />
    </div>
  </div>
</Layout>
