---
import Layout from "~astro/layout.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
//return Astro.redirect("/feed"); // TODO: When session is ready
---

<Layout>
  <div
    class="flex-1 bg-[url('/tech-scroll-cover.webp')] bg-yellow-100 bg-repeat bg-top h-full w-full items-center p-12"
  >
    <div
      class="bg-white rounded-md p-4 shadow-md border flex flex-row justify-between items-center"
    >
      <span class="text-xl font-medium">Technical Scrolls</span>
      <a href="admin/"
        ><span class="text-xl font-medium hover:text-sky-800">Login</span></a
      >
    </div>
  </div>
</Layout>
