---
import { getModerationPosts } from "@andrioid/atproto";
import Layout from "../layouts/Layout.astro";
import { PostModerator } from "./_react/post-moderator";
const { at } = Astro.locals;
const posts = await getModerationPosts(at);
---

<Layout>
  <main class="p-12 max-w-2xl flex flex-col gap-3">
    {
      posts.map((r) => (
        <PostModerator
          client:visible
          postId={r.postId}
          text={r.record?.text ?? ""}
        />
      ))
    }
  </main>
</Layout>

<script is:inline src="https://embed.bsky.app/static/embed.js" charset="utf-8"
></script>
